<!DOCTYPE html>
<html>
<head>
    <title> wellpal</title>
</head>
<body>
<form action="{{ data.url }}" class="paymentWidgets" data-brands="APPLEPAY"></form>

<script src="https://eu-test.oppwa.com/v1/paymentWidgets.js?checkoutId={{ data.payment_id }}"></script>
<script src="https://code.jquery.com/jquery.js" type="text/javascript"></script>

<script type="text/javascript">
    var wpwlOptions = {
        applePay: {
            displayName: "WellPal",
            total: { label: "WellPal" }
        }
    }
</script>
</body>
</html>
