<!DOCTYPE html>
<html>
<head>
    <title> wellpal</title>
</head>
<body>
<form action="/payment/hyperpay/capture" class="paymentWidgets" data-brands="VISA MASTER"></form>
<script src="https://eu-test.oppwa.com/v1/paymentWidgets.js?checkoutId={{ data.payment_id }}"></script>
</body>
</html>
