<!DOCTYPE html>
<html>
<head>
    <title> wellpal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<style>
    .wpwl-group-brand {
        display: none;
    }
</style>
<form action="{{ data.url }}" class="paymentWidgets" data-brands="VISA MASTER MADA"></form>

<script src="https://eu-test.oppwa.com/v1/paymentWidgets.js?checkoutId={{ data.payment_id }}"></script>
<script src="https://code.jquery.com/jquery.js" type="text/javascript"></script>

<script type="text/javascript">
    var wpwlOptions = {
        style:"card",
        brandDetection: false,
        paymentTarget: "_top",
        onReady: function(e){
            $('.wpwl-form-card').find('.wpwl-button-pay').on('click', function(e){
                console.log("dsadsa");
                validateHolder(e);
            });
        },
        onBeforeSubmitCard: function(e){
            return validateHolder(e);
        }
    }
    function validateHolder(e){
        var holder = $('.wpwl-control-cardHolder').val();
        if (holder.trim().length < 2){
            $('.wpwl-control-cardHolder').addClass('wpwl-has-error').after('<div class="wpwl-hint wpwl-hint-cardHolderError">Invalid card holder</div>');
            return false;
        }
        return true;
    }
</script>
</body>
</html>
